.rbc-day-bg.rbc-off-range-bg {
  background-color: rgba(50, 50, 50, 0.6);
}
.rbc-day-bg {
  background-color: rgba(0, 0, 10, 0.9);
}
.rbc-calendar {
  color: white;
}
.rbc-btn-group button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.rbc-event-content {
  text-align: center;
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
}
.rbc-date-cell {
  margin-bottom: 5px;
}
.rbc-button-link {
  /* cursor: default; */
  margin-bottom: 5px;
  color: white;
}
.rbc-toolbar-label {
  font-size: 25px;
  font-weight: bold;
  margin-right: 212px;
  margin-bottom: 10px;
}

.rbc-event {
  background: #40a46c;
  margin: 4px;
  width: 210px;
  margin-left: 15px;
}
.rbc-event.rbc-selected {
  background: #40a46c;
  margin: 4px;
  width: 210px;
  margin-left: 15px;
}
.rbc-events-container {
  background-color: rgba(10, 10, 20, 0.8);

}
.rbc-time-content {
  background-color: rgba(10, 10, 20, 0.8);
}
